table {
    text-align: center;
}

#gameBoards {
    text-align: center;
    margin: 20px auto;
}

div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}

.hdl-stats {
    text-align: center;
    margin: 20px auto;
    color: #66afe9;
    font-size: 20px;
    font-weight: 300;
}