table {
    text-align: center;
}

#gameBoards {
    text-align: center;
    margin: 20px auto;
}

div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}

.hdl-stats {
    text-align: center;
    margin: 20px auto;
    color: #66afe9;
    font-size: 20px;
    font-weight: 300;
}

.stats-attribute {
    font-weight: 500;
    color: #122b40;
}

#gameStats {
    color: #9d9d9d;
}

#gameLastMove {
    text-align: center;
    margin: 20px auto;
}

#returnToLobby {
    width: 300px;
}

.cell-regular {
    width: 25px;
    height: 25px;
    background: transparent url(../images/icon_regular.png) no-repeat left;
    border: 0;
}

.cell-battleship {
    width: 25px;
    height: 25px;
    background: transparent url(../images/icon_battleship.png) no-repeat left;
    border: 0;
}

.cell-hit {
    width: 25px;
    height: 25px;
    background: transparent url(../images/icon_hit.png) no-repeat left;
    border: 0;
}

.cell-miss {
    width: 25px;
    height: 25px;
    background: transparent url(../images/icon_miss.png) no-repeat left;
    border: 0;
}

.cell-mine {
    width: 25px;
    height: 25px;
    background: transparent url(../images/icon_mine.png) no-repeat left;
    border: 0;
}