.list-group {
    max-height: 200px;
    overflow-y: scroll;
}

#btn-logout {
    background-color: indianred;
    color: white;
}

#btn-logout:hover {
    background-color: #761c19;
}

#img-battleship {
    margin: 15% 0;
}

#hdl-uploadgame {
    text-align: center;
    color: #5bc0de;
}

.hdl-scondary {
    text-align: center;
    color: #122b40;
}

#btn-upload {
    color: white;
    font-size: 18px;
    text-align: center;
    margin: 10px auto;
    background-color: #31708f;
    width: 320px;
    height: 45px;
}

#btn-upload:hover {
    background-color: #5bc0de;
}

#game-title {
    max-width: 300px;
    margin: 10px auto;
}