body {
    background: #eaeaea url(http://subtlepatterns.com/patterns/sativa.png);
}

html, body {
    position: relative;
    height: 100%;
}

.container {
    background-color: white !important;
    border: 1px solid #e3e3e3;
}

.jumbotron {
    margin: 20px 0;
    background-color: #122b40 !important;
    color: white !important;
    text-align: center;
}